  <div class="col-md-4 small">
    <table class="table table-condensed table-sm table-inverse small">
      <thead>
        <tr>
          <th colspan=2>
            Version Colour Key
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><div class="square equals-production"></div></td>
          <td>Deployed version same as Production.</td>
        </tr>
        <tr>
          <td><div class="square greater-than-production"></div></td>
          <td>Deployed version newer than Production</td>
        </tr>
        <tr>
          <td><div class="square less-than-production"></div></td>
          <td>Deployed version older than Production</td>
        </tr>
        <tr>
          <td><div class="square no-version-information-available"></div></td>
          <td>No version information available.</td>
        </tr>
        <tr>
          <td><div class="square app-not-deployed"></div></td>
          <td>App not deployed in Environment.</td>
        </tr>
        <tr>
          <td><div class="square app-switched-off"></div></td>
          <td>App currently switched off in environment.</td>
        </tr>
      </tbody>
    </table>
  </div>