  <div class="col-md-4 small">
    <table class="table table-condensed table-sm table-inverse small">
      <thead>
        <tr>
          <th colspan=2>
            Settings Colour Key
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><div class="square same-as-each-other"></div></td>
          <td>Same as each other.</td>
        </tr>
        <tr>
          <td><div class="square different-from-each-other"></div></td>
          <td>Different from each other.</td>
        </tr>
      </tbody>
    </table>
  </div>