  <div class="col-md-4 small">
    <table class="table table-condensed table-sm table-inverse small">
      <thead>
        <tr>
          <th colspan=2>
            Settings Colour Key
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><div class="square equals-production"></div></td>
          <td>As per Production.</td>
        </tr>
        <tr>
          <td><div class="square greater-than-production"></div></td>
          <td>Ahead of Production</td>
        </tr>
        <tr>
          <td><div class="square less-than-production"></div></td>
          <td>Behind Production</td>
        </tr>
        <tr>
          <td><div class="square no-version-information-available"></div></td>
          <td>No version information available.</td>
        </tr>
      </tbody>
    </table>
  </div>