<div class="col-md-4 small">
    <table class="table table-condensed table-sm table-inverse small">
      <thead>
        <tr>
          <th colspan="3">
            Status Key
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src='assets/img/blue.png' alt='Site Status' title='up' height='15' width='15'></td>
          <td>Up</td>
          <td>All Servers in the Environment are up and running.</td>
        </tr>
        <tr>
          <td><img src='assets/img/yellow.png' alt='Site Status' title='up' height='15' width='15'></td>
          <td>Unstable</td>
          <td>Some but not all servers in the Environment are running.</td>
        </tr>
        <tr>
          <td><img src='assets/img/purple.png' alt='Site Status' title='up' height='15' width='15'></td>
          <td>Draining</td>
          <td>Server is draining - processing existing traffic but getting sent no new traffic..</td>
        </tr>
        <tr>
          <td><img src='assets/img/red.png' alt='Site Status' title='up' height='15' width='15'></td>
          <td>Down</td>
          <td>None of the servers in the Environment are running.</td>
        </tr>
      </tbody>
    </table>
  </div>
